body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 800px;
  height: 100px;
}

div#testoAlternato {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000000;
  padding: 1em;
  position: relative;
}

p {
  font-size: 2em;
  padding: 1em;
  margin: 1em;
}

.parole {
  color: rgb(163, 178, 255);
  padding: 0.2em;
  width: 200px;
  text-align: left;
  position: relative;
}

.parole i {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  animation: fadeInOut 6s infinite;
}

.parole i:nth-child(1) {
  animation-delay: 0s;
}
.parole i:nth-child(2) {
  animation-delay: 2s;
}
.parole i:nth-child(3) {
  animation-delay: 4s;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 0;
  }
}
